body {  
    background: rgba(150, 233, 150, 0.658);
    max-width: 1000px;
    margin: auto;
}

.foto {
    border: 1px solid rgb(228, 8, 8);
    border-radius: 50%;
}

#titulo {
font-size: 72px;
font-style: italic;
font-family: Arial, Verdana;
text-transform: capitalize;
background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.subtitulo, .artigo {
 color: rgb(74, 126, 146);   
}

.artigo {
    font-size: 19px;
    font-style: italic;
    font-family: Verdana;
    text-decoration: line-through;
    width: auto;
    text-align: justify;
}

.post {
    background: turquoise;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
    width: auto;
    text-align: justify;
}

.rodape {   
    background: rgb(187, 189, 192);
    border: 2px dotted cadetblue;
    padding-left: 15px;
    }

.conteudo {
margin: 0;
margin-bottom: 15px;
}

.post_imagem{
    margin-bottom: 15px;
    width: auto;
    font-tra
}